.custom-dialog-container {
    background-color: #f0f0f0; 
  }
    .custom-dialog-title {
    background-color: #337ab7;
    color: #fff; 
  }
  
  .custom-dialog-content {
    background-color: #fff; 
  }
  
  .custom-dialog-actions {
    background-color: #f0f0f0; 
  }
  
  .custom-cancel-button {
    background-color: #ccc; 
    color: #333; 
  }
  
  .custom-delete-button {
    background-color: #ff0000;
    color: #fff; 
  }

.custom-dialog-actions {
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  
  .custom-cancel-button,
  .custom-delete-button {
    width: 100px;
  }
  